* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  color: #fff;
  background-color: #5995DA;  /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.header {
  /* border: 1px solid #fff;  For debugging */
  width: 900px;
  display:flex;
  justify-content: space-between;

}
/* components - Contents */
.content {
  display:flex;
  justify-content: space-around;
}

/* check if either content A or B is active */
.isActive {
  background-color: #FFFFFF;
  width: 500px;
  height: 500px;
}

.isInactive {
 background-color: #EEEEEE;
 width: 500px;
 height: 500px;
-ms-transform: rotate(360deg); 
  -webkit-transform: rotate(360deg); 
  transform: rotate(360deg);
  transition-duration: 4s;
  transition: 0.4s
}

/* CSS for the btn */

.btn:hover {
  color: red;
}
